<div *ngIf="service.parameter && service.limits">
  <div class="row">

    <div class="input-field col s3">
      <input id="round_time_Ms" type="number" [(ngModel)]="service.parameter.roundTimeMs"
        (change)="service.sendParameter()">
      <label for="round_time_Ms">Round Time(ms)</label>
    </div>

    <div class="col s9 valign-wrapper generic-slider">
      <input type="range" [min]="service.limits.minRoundTimeMs"
        [max]="service.limits.maxRoundTimeMs" step="1"
        (change)="service.sendParameter()"
        [(ngModel)]="service.parameter.roundTimeMs" />
    </div>
  </div>

  <div class="row"
    [ngStyle]="{'background-color': 'rgba(255,255,255,'+service.parameter.brightness+')'}">
    <div class="input-field col s3">
      <input id="brightness" type="number" [(ngModel)]="service.parameter.brightness"
        (change)="service.sendParameter()">
      <label for="brightness">Brightness</label>
    </div>
    <div class="col s9 valign-wrapper generic-slider">
      <input type="range" [min]="service.limits.minBrightness "
        [max]="service.limits.maxBrightness" step="0.01"
        (change)="service.sendParameter()"
        [(ngModel)]="service.parameter.brightness" />
    </div>
  </div>

  <!-- <div *ngIf="service.parameter && service.limits" class="row" [ngStyle]="{'background-color': 'rgba(255,255,255,'+service.parameter.brightness+')'}"> -->
  <div class="row">
    <div class="input-field col s3">
      <input id="spectrum" type="number" [(ngModel)]="service.parameter.spectrum"
        (change)="service.sendParameter()">
      <label for="spectrum">Spectrum</label>
    </div>
    <div class="col s9 valign-wrapper generic-slider">
      <input type="range" [min]="service.limits.minSpectrum"
        [max]="service.limits.maxSpectrum" step="0.01"
        (change)="service.sendParameter()"
        [(ngModel)]="service.parameter.spectrum" />
    </div>
  </div>

  <div class="row">
    <div class="input-field col s3">
      <input id="reverse" type="text" [(ngModel)]="service.parameter.reverse"
        (change)="service.sendParameter()">
      <label for="spectrum">Reverse</label>
    </div>

    <div class="switch" style="display: inline">
      <label>
        <input type="checkbox" [(ngModel)]="service.parameter.reverse"
          (change)="service.sendParameter()">
        <span class="lever"></span>
      </label>
    </div>
  </div>
</div>