<div *ngIf="modeSolidRainbowParameter && modeSolidRainbowLimits" class="row">

  <div class="input-field col s3">
    <input id="round_time_Ms" type="number" [(ngModel)]="modeSolidRainbowParameter.roundTimeMs">
    <label for="round_time_Ms">Round Time(ms)</label>
  </div>

  <input class="col s9" type="range" [min]="modeSolidRainbowLimits.minRoundTimeMs"
    [max]="modeSolidRainbowLimits.maxRoundTimeMs" step="1" (change)="setModeSolidRainbowParameter()"
    [(ngModel)]="modeSolidRainbowParameter.roundTimeMs" />
</div>

<div *ngIf="modeSolidRainbowParameter && modeSolidRainbowLimits" class="row"
  [ngStyle]="{'background-color': 'rgba(255,255,255,'+modeSolidRainbowParameter.brightness+')'}">
  <div class="input-field col s3">
    <input id="brightness" type="number" [(ngModel)]="modeSolidRainbowParameter.brightness">
    <label for="brightness">brightness</label>
  </div>
  <div class="col s9 valign-wrapper" style="min-height: 110px;">
    <input class="" type="range" [min]="modeSolidRainbowLimits.minBrightness " [max]="modeSolidRainbowLimits.maxBrightness"
      step="0.01" (change)="setModeSolidRainbowParameter()" [(ngModel)]="modeSolidRainbowParameter.brightness" />
  </div>
</div>