<div *ngIf="service.parameter && service.limits">
  <div class="row">
    <div class="col s3 input-field">
      <input id="Count" type="number" [min]="service.limits.minCount"
        [max]="service.limits.maxCount" (change)="service.sendParameter()"
        [(ngModel)]="service.parameter.count" />
      <label for="Count">Count</label>
    </div>
    <div class="col s9 valign-wrapper generic-slider"> <input type="range" [min]="service.limits.minCount"
        [max]="service.limits.maxCount" step="1" (change)="service.sendParameter()"
        [(ngModel)]="service.parameter.count" /> </div>
  </div>

  <div class="row">
    <div class="col s3 input-field">
      <input id="roundTimeMs" type="number" [min]="service.limits.minRoundTimeMs"
        [max]="service.limits.maxRoundTimeMs" (change)="service.sendParameter()"
        [(ngModel)]="service.parameter.roundTimeMs" />
      <label for="roundTimeMs">RoundTimeMs</label>
    </div>
    <div class="col s9 valign-wrapper generic-slider"> <input type="range"
        [min]="service.limits.minRoundTimeMs" [max]="service.limits.maxRoundTimeMs" step="1"
        (change)="service.sendParameter()" [(ngModel)]="service.parameter.roundTimeMs" /> </div>
  </div>

  <div class="row" [ngStyle]="{'background-color': 'rgba(255,255,255,'+service.parameter.brightness+')'}">
    <div class="input-field col s3">
      <input id="brightness" type="number" [(ngModel)]="service.parameter.brightness"
        (change)="service.sendParameter()" />
      <label for="brightness">Brightness</label>
    </div>

    <div class="col s9 valign-wrapper generic-slider">
      <input type="range" [min]="service.limits.minBrightness"
        [max]="service.limits.maxBrightness" step="0.01" (change)="service.sendParameter()"
        [(ngModel)]="service.parameter.brightness" />
    </div>
  </div>
</div>