<div *ngIf="service.parameter && service.limits">
  <br>
  <div class="row">
    <div class="col s3">
      Spectrum
    </div>
    <div class="col s9">
      <nouislider [connect]="true" [tooltips]="[ true, true ]" [step]="0.1" [min]="0" [max]="720"
        [(ngModel)]="service.hueRange" (change)="service.setHue(); service.sendParameter()"></nouislider>
      <div style="margin-top:-40px; height:32px; border-radius: 5px; opacity: .2;z-index:-9;
        background-image:linear-gradient(90deg, #f00,#ff0,#0f0,#0ff,#00f,#f0f,#f00,#ff0,#0f0,#0ff,#00f,#f0f,#f00)">
      </div>
    </div>
  </div>
  <br>

  <div class="row" [ngStyle]="{'background-color': 'rgba(255,255,255,'+service.parameter.brightness+')'}">
    <div class="input-field col s3">
      <input id="brightness" type="number" [(ngModel)]="service.parameter.brightness"
        (change)="service.sendParameter()">
      <label for="brightness">Brightness</label>
    </div>
    <div class="col s9 valign-wrapper generic-slider">
      <input type="range" [min]="service.limits.minBrightness " [max]="service.limits.maxBrightness" step="0.01"
        (change)="service.sendParameter()" [(ngModel)]="service.parameter.brightness" />
    </div>
  </div>

</div>