<div class="row">
  <div class="col s4" style="text-align: center;"><button class="btn waves-effect button-control" (click)="buttonService.pressSingle()">pressSingle</button></div>
  <div class="col s4" style="text-align: center;"><button class="btn waves-effect button-control" (click)="buttonService.pressDouble()">pressDouble</button></div>
  <div class="col s4" style="text-align: center;"><button class="btn waves-effect button-control" (click)="buttonService.pressLong()">pressLong</button></div>
</div>