<!-- <div *ngFor="let mode of modesService.modeResolver">{{mode}}</div> -->
<div style="padding-bottom: 10px;">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <!-- <li class="tab col s3"><a href="#ModeSolid" [ngClass]="{'active': modesService.isActive('ModeSolid')}" (click)="modesService.switchState('ModeSolid')">Solid</a> -->
        <li class="tab col "><a href="#ModeSolid" (click)="modesService.switchState('ModeSolid')">Solid</a></li>
        <li class="tab col "><a href="#ModeSolidRainbow"
            (click)="modesService.switchState('ModeSolidRainbow')">RainbowSolid</a></li>
        <li class="tab col "><a href="#ModeTransitionRainbow"
            (click)="modesService.switchState('ModeTransitionRainbow')">TransitionRainbow</a></li>
        <li class="tab col "><a href="#ModeRunningLed"
            (click)="modesService.switchState('ModeRunningLed')">RunningLed</a></li>
        <li class="tab col "><a href="#ModeEmitter" (click)="modesService.switchState('ModeEmitter')">Emitter</a></li>
      </ul>
    </div>
    <div id="ModeSolid" class="col s12">
      <app-mode-solid></app-mode-solid>
    </div>
    <div id="ModeSolidRainbow" class="col s12">
      <app-mode-solid-rainbow></app-mode-solid-rainbow>
    </div>
    <div id="ModeTransitionRainbow" class="col s12">
      <app-mode-transition-rainbow></app-mode-transition-rainbow>
    </div>
    <div id="ModeRunningLed" class="col s12">
      <app-mode-running-led></app-mode-running-led>
    </div>
    <div id="ModeEmitter" class="col s12">
      <app-mode-emitter></app-mode-emitter>
    </div>
  </div>

  <div class="row" style="margin:10px 0px">
    <div class="col s12" style="text-align: center;"><button class="btn waves-effect button-control"
        (click)="randomizeMode()">randomize</button></div>
  </div>

</div>