<!-- <div *ngFor="let mode of modesService.modeResolver">{{mode}}</div> -->
<div style="padding-bottom: 10px;" [hidden]="modesService.isPictureMode">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col "><a href="#{{modesService.modeSolidService.getName()}}"
            (click)="modesService.switchState(modesService.modeSolidService.getName())">{{modesService.modeSolidService.getShortName()}}</a>
        </li>
        <li class="tab col "><a href="#{{modesService.modeSolidRainbowService.getName()}}"
            (click)="modesService.switchState(modesService.modeSolidRainbowService.getName())">{{modesService.modeSolidRainbowService.getShortName()}}</a>
        </li>
        <li class="tab col "><a href="#{{modesService.modeTransitionRainbowService.getName()}}"
            (click)="modesService.switchState(modesService.modeTransitionRainbowService.getName())">{{modesService.modeTransitionRainbowService.getShortName()}}</a>
        </li>
        <li class="tab col "><a href="#{{modesService.modeRunningLedService.getName()}}"
            (click)="modesService.switchState(modesService.modeRunningLedService.getName())">{{modesService.modeRunningLedService.getShortName()}}</a>
        </li>
        <li class="tab col "><a href="#{{modesService.modeEmitterService.getName()}}"
            (click)="modesService.switchState(modesService.modeEmitterService.getName())">{{modesService.modeEmitterService.getShortName()}}</a>
        </li>
        <li class="tab col "><a href="#{{modesService.modeGradientService.getName()}}"
            (click)="modesService.switchState(modesService.modeGradientService.getName())">{{modesService.modeGradientService.getShortName()}}</a>
        </li>
        <li class="tab col "><a href="#{{modesService.modeSpectrumService.getName()}}"
          (click)="modesService.switchState(modesService.modeSpectrumService.getName())">{{modesService.modeSpectrumService.getShortName()}}</a>
      </li>

        <!-- <li *ngFor="let modeServices of modesService.modeServices" class="tab col"><a  href="#{{modeServices.getName()}}"(click)="modesService.switchState(modeServices.getName())">{{modeServices.getShortName()}}</a></li> -->
      </ul>
    </div>
    <div id="{{modesService.modeSolidService.getName()}}" class="col s12">
      <app-mode-solid></app-mode-solid>
    </div>
    <div id="{{modesService.modeSolidRainbowService.getName()}}" class="col s12">
      <app-mode-solid-rainbow></app-mode-solid-rainbow>
    </div>
    <div id="{{modesService.modeTransitionRainbowService.getName()}}" class="col s12">
      <app-mode-transition-rainbow></app-mode-transition-rainbow>
    </div>
    <div id="{{modesService.modeRunningLedService.getName()}}" class="col s12">
      <app-mode-running-led></app-mode-running-led>
    </div>
    <div id="{{modesService.modeEmitterService.getName()}}" class="col s12">
      <app-mode-emitter></app-mode-emitter>
    </div>
    <div id="{{modesService.modeGradientService.getName()}}" class="col s12">
      <app-mode-gradient></app-mode-gradient>
    </div>
    <div id="{{modesService.modeSpectrumService.getName()}}" class="col s12">
      <app-mode-spectrum></app-mode-spectrum>
    </div>
  </div>

  <div class="row" style="margin:10px 0px">
    <div class="col s6" style="text-align: center;"><button class="btn waves-effect button-control"
        (click)="randomizeMode()">randomize</button></div>
    <div class="col s6" style="text-align: center;"><button class="btn waves-effect button-control"
        (click)="playPauseMode()">playPause</button></div>
  </div>

</div>