<div *ngIf="service.modeEmitterParameter && service.modeEmitterLimits">
  <div class="row">
    <div class="col s3 input-field">
      <input id="emitCount" type="number" [min]="service.modeEmitterLimits.minEmitCount" [max]="service.modeEmitterLimits.maxEmitCount"
        (change)="service.setModeEmitterParameter()" [(ngModel)]="service.modeEmitterParameter.emitCount" />
      <label for="emitCount">Emit Count</label>
    </div>
    <div class="col s9 valign-wrapper generic-slider"> <input type="range" [min]="service.modeEmitterLimits.minEmitCount"
        [max]="service.modeEmitterLimits.maxEmitCount" step="1" (change)="service.setModeEmitterParameter()"
        [(ngModel)]="service.modeEmitterParameter.emitCount" /> </div>
  </div>

  <br>
  <div class="row">
    <div class="col s3">
      Brightness
    </div>
    <div class="col s9">
      <nouislider [connect]="true" [tooltips]="[ true, true ]" [step]="0.01" [min]="service.modeEmitterLimits.minBrightness"
        [max]="service.modeEmitterLimits.maxBrightness" [(ngModel)]="service.brightnessRange"
        (change)="service.setBrightness(); service.setModeEmitterParameter()"></nouislider>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s3">
      Lifetime(ms)
    </div>
    <div class="col s9">
      <nouislider [connect]="true" [tooltips]="[ true, true ]" [step]="1" [min]="service.modeEmitterLimits.minEmitLifetimeMs"
        [max]="service.modeEmitterLimits.maxEmitLifetimeMs" [(ngModel)]="emitLifetimeMsRange"
        (change)="service.setEmitLifetimeMs(); service.setModeEmitterParameter()"></nouislider>
    </div>
  </div>

  <div class="row">
    <div class="col s3 input-field ">
      <input id="emitStyle" type="text" (change)="service.setModeEmitterParameter()" [(ngModel)]="service.modeEmitterParameter.emitStyle" />
      <label for="emitStyle">Emit Style</label>
    </div>

    <div class="col s9 valign-wrapper">
      <select class="browser-default" [(ngModel)]="service.modeEmitterParameter.emitStyle"
        (change)="service.setModeEmitterParameter()">
        <option *ngFor="let style of service.getAllStyles()" [text]="style"></option>
      </select>
    </div>

  </div>

</div>